{% extends "base_generic.html" %}
<!DOCTYPE html>
<html lang="en">
<!-- {% block content %} -->
<body>
  <div id="wrapper">
        <div class="overlay"></div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1>FootballUS</h1>
                        <h3>It is Matchday <strong>{{ matchday }}</strong> in the <strong>{{ leagueCaption }}</strong>.</h3>
                        <br>
                        <br>

                        
                        <div class="table-responsive">
                        <table
                        class="table table-striped table-hover">

                        <thead>
                          <tr>

                          <th scope="col">Position</th>

                          <th scope="col">Team</th>

                          <th scope="col">MP</th>

                          <th scope="col">Wins</th>

                          <th scope="col">Draws</th>

                          <th scope="col">Losses</th>

                          <th scope="col">GF</th>

                          <th scope="col">GA</th>

                          <th scope="col">GD</th>

                          <th scope="col">Points</th>

                          </tr>
                        </thead>

                        <tbody>
                          {% for entry in table %}
                            <tr class='clickable-row' data-href='/teamprofiles/{{ entry.0 }}'>

                            <th scope="row">{{ entry.1 }}</th>

                            <td>{{ entry.0 }}</td>

                            <td>{{ entry.2 }}</td>

                            <td>{{ entry.3 }}</td>

                            <td>{{ entry.4 }}</td>

                            <td>{{ entry.5 }}</td>

                            <td>{{ entry.6 }}</td>

                            <td>{{ entry.7 }}</td>

                            <td>{{ entry.8 }}</td>

                            <td>{{ entry.9 }}</td>

                            </tr>
                          {% endfor %}

                      </tbody>
                      </table>
                      </div>
                    </div>
                    <!-- <button onclick="goBack()">Go Back</button> -->
                    <div>
                      <button class="fas fa-angle-double-left fa-4x" onclick="goBack()"></button>
                      <script>
                        function goBack() {
                            window.history.back();
                        }
                      </script>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

<!-- jquery for making row clickable link -->
<script>
  jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>

<!-- {% endblock %} -->
</html>